img {
    object-fit: contain;
    max-width: 65px;
}
.h-80{
    height: 80px !important;
}
.up {
    margin-top: -1px;
    margin-right: -1px;
}
.down {
    margin-bottom: -1px;
    margin-right: -1px;
}