$start: left !default;
$end: right !default;


@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @for $i from 0 through 60 {
            .border-raduis-#{$i} {
                border-radius: (1px * $i) !important;
            }

            .border-top-start-raduis-#{$i} {
                border-top-#{$start}-radius: (1px * $i) !important;
            }
            .border-bottom-start-raduis-#{$i} {
                border-bottom-#{$start}-radius: (1px * $i) !important;
            }
            .border-top-end-raduis-#{$i} {
                border-top-#{$end}-radius: (1px * $i) !important;
            }
            .border-bottom-end-raduis-#{$i} {
                border-bottom-#{$end}-radius: (1px * $i) !important;
            }
        }
           
    }
}

