@import 'theming';
$theme-colors: (
  "primary": $primary,
  "gray-1": $gray-1,
  "gray-2": $gray-2,
  "white": $white,
  "error": $error
);

@import './bootstrap/bootstrap.scss';
@import 'typography';
@import 'generics';
@import 'width';
@import 'spacing';
@import'borders';

body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

